<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<style>
    body, ul, li {
        padding: 0;
        margin: 0;
    }

    ul, li {
        list-style: none;
    }

    .container {
        height: 210px;
        width: 100%;
        border: 1px solid #000;
    }

    ul {
        overflow: hidden;

        margin-right: -5%;
    }

    li {
        height: 100px;
        width: 20%;
        background: #09F;
        float: left;
        margin-right: 5%;
        margin-bottom: 10px;
    }
</style>
<div class="container">
    <ul>
        <li>子元素1</li>
        <li>子元素2</li>
        <li>子元素3</li>
        <li>子元素4</li>
        <li>子元素5</li>
        <li>子元素6</li>
        <li>子元素7</li>
        <li>子元素8</li>
    </ul>
</div>
</html>