<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<script src="../scripts/util/require.js"></script>
<script src="../scripts/appa.js"></script>
<script>
    require(['../scripts/custom/_r_binding_test', '../scripts/custom/_r_functionDefine_test'], function (factory) {
        factory;
    });
    require(['../scripts/custom/_r_functionDefine_test'], function () {
    });
</script>
<div id="container">
    <button>click1...</button>
</div>
<div id="container2">
    <button onclick="clicktest();">click2...</button>
</div>
</body>
</html>

