html, body {
  width: 100%;
  height: 100%;
}
.prosoer-container {
  background: transparent;
  background-image: -webkit-radial-gradient(50% 30%, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8));
  background-image: radial-gradient(circle at 50% 30%, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8));
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  display: table;
  height: 100%;
  .tcell {
    display: table-cell;
    vertical-align: middle;
    height: 100%;

  }
}

#-offline-proposers {
  position: relative;
  width: 90%;
  border: 1px solid gray;
  box-shadow: 0 15px 80px 15px rgba(0, 0, 0, 0.5);
  background-color: white;
  min-height: 10%;
  max-height: 90%;
  height: auto;
  margin: 0 auto;
  overflow-x: hidden;
  overflow-y: auto;
  tr.odd {
    background-color: rgb(243, 242, 242);
  }
  #cleared {
    td {
      text-align: center;
    }
    thead {
      background-color: rgb(58, 154, 252);
    }

  }
  #pending-payment {
    td {
      text-align: center;
    }
    thead {
      background-color: rgb(58, 154, 252);
    }
  }
  #pending-confirm {
    td {
      text-align: center;
    }
    thead {
      background-color: rgb(58, 154, 252);
    }
  }
  }

.name-fee-container {
  position: relative;
  .name-fee {
    display: inline-block;
    padding-right: 30px;
      box-sizing: border-box;
    .course-name {
      padding: 0;
      margin: 0;
      font-size: 14px;
    }
    .course-fee {
      padding: 0;
      margin: 0;
      font-size: 30px;
    }
    }

  }

.payment-stat {
  position: relative;
  margin-top: 40px;
  margin-bottom: 10px;
  > h4 {
    padding: 0;
    margin: 0;
    display: inline-block;
    vertical-align: baseline;
    }
  }

#cleared_paginate {
  background-color: #FFFFFF;
  text-align: center;
  float: none;
}

#pending-payment_paginate {
  background-color: #FFFFFF;
  text-align: center;
  float: none;
}

#pending-confirm_paginate {
  background-color: #FFFFFF;
  text-align: center;
  float: none;
}