<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script src="/test/repository/require.js"></script>
    <script src="/test/repository/require-config.js"></script>
    <script>
        var Person;
        require([ 'backbone', 'domReady'], function (_Backbone, _domReady) {
            _domReady(function () {
                Person = _Backbone.Model.extend({
                    initialize: function () {
                        console.log('Person init....');
                    },
                    defaults: {
                        birthday:'19881016',
                        sex:'meal'
                    }
                });
                var  p=new Person();
                console.log(p.birthday);
                var  p2=new Person();
                p2.set({birthdaty:'19991010',height:'180'});
                console.log(p.get('birthdaty'));

            });
        })</script>
</head>
<body>

</body>
</html>